body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.counter-container {
    background-color: #f8b6b6;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.counter-container h2 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.counter-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.counter-info span {
    font-size: 18px;
    font-weight: bold;
}

#charRemaining {
    color: red;
}